<!-- BEGIN: main -->

<!-- BEGIN: head -->
<HTML>
<HEAD>
<TITLE>どこでもgoo</TITLE>
</HEAD>
<BODY bgcolor="#ffffff" text="#333333" link="#3333FF" alink="#FF3333" vlink="#336699">
<center>【どこでもgoo】</center>
<br>
<!-- END: head -->

<!-- BEGIN: download -->
<object declare id="sc" data="{JAMURL}" TYPE="application/x-jam"></object> 
<center><A IJAM="#sc" HREF="error.html">ﾀﾞｳﾝﾛｰﾄﾞ開始</A></center>
<br>
どこでもgooによる通信はSSLではありません。ご了解下さい。<br>
｢ﾀﾞｳﾝﾛｰﾄﾞ開始｣を選択すると、ﾀﾞｳﾝﾛｰﾄﾞが始まります。電波状態の良い場所でﾀﾞｳﾝﾛｰﾄﾞを行ってください。<br>
<!-- END: download -->

<!-- BEGIN: foot -->
<br>
<a href="http://mobile.goo.ne.jp">□gooﾓﾊﾞｲﾙﾄｯﾌﾟ</a>
<hr noshade size="1" color="#ff9900">
<center>(C)NTT Resonant</center>
</BODY> 
</HTML>
<!-- END: foot -->

<!-- BEGIN: end -->