<!-- BEGIN: main -->

<!-- BEGIN: head -->
<HTML>
<HEAD>
<TITLE>どこでもgoo</TITLE>
</HEAD>
<BODY bgcolor="#ffffff" text="#333333" link="#3333FF" alink="#FF3333" vlink="#336699">
<center>【どこでもgoo】</center>
<br>
<!-- END: head -->

<!-- BEGIN: err_temp_id -->
ﾗｲｾﾝｽの認証ができませんでした｡<br>
再度戻ってﾛｸﾞｲﾝしなおしてください｡<br>
<!-- END: err_temp_id -->

<!-- BEGIN: un_corresponding -->
お使いの機種はどこでもgooに対応しておりません。<br>
<br>
対応機種<br>
NTTﾄﾞｺﾓ 504/505/506/900/901ｼﾘｰｽﾞ及びN2051/P2102V/F2102V/N2102V/N2701<br>
<!-- END: un_corresponding -->

<!-- BEGIN: no_utn -->
どこでもgooをﾀﾞｳﾝﾛｰﾄﾞするには携帯電話情報を送信する必要があります。<br>
<br>
<center>
<form action="download.htm" method="POST" utn>
<input type="hidden" name="temp_id" value="{TEMP_ID}">
<input type="submit" value="再試行">
</form>
</center>
<br>
どこでもgooによる通信はSSLではありません。ご了解下さい。<br>
ﾀﾞｳﾝﾛーﾄﾞする前に｢携帯電話情報を送信しますか?｣という確認画面が表示されますので、｢はい(YES)｣を選択してください。<br>
※機種によっては違うﾒｯｾｰｼﾞが表示される場合もあります。<br>
例:｢携帯電話の製造番号を送信します｣、｢携帯電話/FOMAｶｰﾄﾞ(UIM)の製造番号を送信します｣など<br>
<!-- END: no_utn -->

<!-- BEGIN: foot -->
<br>
<a href="http://mobile.goo.ne.jp">□gooﾓﾊﾞｲﾙﾄｯﾌﾟ</a>
<hr noshade size="1" color="#ff9900">
<center>(C)NTT Resonant</center>
</BODY> 
</HTML>
<!-- END: foot -->

<!-- END: main -->