<HTML><HEAD>
<TITLE>どこでもgoo</TITLE>
</HEAD>
<BODY bgcolor="#ffffff" text="#333333" link="#3333FF" alink="#FF3333" vlink="#336699">
<center>【どこでもgoo】</center>
<br>
<center><a utn href="download.htm">ﾀﾞｳﾝﾛｰﾄﾞ</a></center>
<br>
ﾀﾞｳﾝﾛーﾄﾞする前に｢携帯電話情報を送信しますか?｣という確認画面が表示されますので、必ず｢はい(YES)｣を選択してください。<br>
※機種によっては違うﾒｯｾｰｼﾞが表示される場合もあります。<br>
例:｢携帯電話の製造番号を送信します｣、｢携帯電話/FOMAｶｰﾄﾞ(UIM)の製造番号を送信します｣など<br>
<br>
<a href="http://mobile.goo.ne.jp/">□ﾓﾊﾞｲﾙgooﾄｯﾌﾟ</a>
<hr noshade size="1" color="#ff9900">
<center>(C)NTT Resonant</center>
</BODY> 
</HTML>
